*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 0px 30px;
    font-size: 27px;
    font-weight: bold;
    color: white;
    border: none;
}

/* header and navigation styles */
.header{
   
    background-image: url(../images/header_bg.png) , url(../images/developer.png);
    background-repeat: no-repeat ;
    background-position: bottom right , left;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
    margin: 50px 150px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center; \* to center ul and li items in one line */
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/* Header banner Styles */
.banner{
    margin:0px 150px;
    display: flex;  
    align-items: center; 
}
.banner-title{
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;

}
.banner-sub-title{
    font-size: 61px;
    color: #474747;
    margin-bottom: 5px;
}
.banner-description{
    
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    
}
.banner img{
    width: 500px;
}
/* main scetion style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section Styles */
.about{
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18;
    margin-bottom: 30px;
    text-align: center;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}
.skill{
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* RESUME STYLES     */

.resume-title{
    margin: 30px 0px;
    font-size: 30px;
    color: #474747;


}
.resume-content{
    display: flex;
    gap: 24px;
    margin: 50px auto;
}
.resume .title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    
}
.resume .sub-title{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume .description{
    font-weight: 400;
    color: #757575;
}
.resume hr{
    margin: 30px 0px;
    border: 1px solid lightgray;
    opacity: 80%;
}
.resume-button{
    text-align: center;
}
/* Contact Styles */
.contact .section-title{
    text-align: left;
}
.contact{
    display: flex;
    gap: 24px;
}